{% extends "base.html.twig" %}

{% block page_title %}
    Rédiger un article
{% endblock %}

{% block title %}
    Rédiger un article
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8 mx-auto">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

